.topBar-container {
    background-color: rgb(20, 21, 39);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;

    .search-container {
        display: flex;
        width: 50%;
        gap: 20px;
        padding-left: 40px;

        input {
            padding-left: 60px;
        }

        .search-input {
            width: 80%;
            border-radius: 10px;
            height: 50px;
            border: none;
            background-color: #1E1F3B;
            font-weight: 600;
            color: #646577;
            background-image: url(../../assets/search.png);
            background-repeat: no-repeat;
            background-position: 13px 13.5px;
        }

        .btn-search {
            background-color: #FC6746;
            border-radius: 10px;
            font-family: sans-serif;
            width: 120px;
            font-size: 13px;
            font-weight: bold;
        }
    }

    .profile-container {
        display: flex;
        padding-left: 60px;
        .notification-container {
            width: 52.5px;
            height: 52.5px;
            border-radius: 50%;
            background: #1E1F3B;
            display: flex;
            align-items: center;
            justify-content: center;

            .badge {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #FC6746;
                position: fixed;
                top: 62.5px;
                left: 1009px;
            }

            svg {
                width: 18.5px;
            }
        }
    }
}