.secondary-card-wrapper {
    width: 280px;
    height: 235px;
    background-color: #1E1F3B;
    border-radius: 30px;
    margin-left: 30px;
    padding: 10px;
    .card-image-container {
        width: 280px;
        height: 140px;
        padding-bottom: 20px;
        img {   
            padding-bottom: 20px;
            width: 280px;
            height: 140px;
        }

        border-radius: 30px;
        // background-color: aqua;
        margin: 0px;
    }

    .card-row-1 {
        display: flex;
        align-items: end;
        justify-content: space-between;
        font-size: small;
        margin-left: 10px;

        svg {
            position: relative;
            bottom: 18px;
            right: 12px;
        }
    }

    .card-row-2 {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        // gap: 10px;
        // align-items: center;
        flex-direction:column;
        // justify-content: space-between;
        font-size: small;
        color: #646577;
    }

    .lc {
        align-items: center;
        display: flex;
        gap: 10px;
    }

    .icon-array {
        color: #4FA37F;
    }
}