.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .mainTitle {
        font-size: x-large;
        font-weight: bolder;
        font-family: 'Poppins';
    }

    .welcome-text {
        color: #646577;
        font-size: medium;
        font-family: 'Poppins';
        font-weight: 600;

    }

    .card-container {
        margin-top: 10px;
        display: flex;

        .vertical-menu {
            width: 1%;
            display: flex;
            flex-direction: column;
            padding-bottom: 15px;
            margin-top: 60px;
            gap: 55px;
            justify-content: flex-end;

            .vm-items {
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(270deg);
                transform-origin: left;
                width: fit-content;
                color: #646577;
                font-size: small;
                font-family: 'Poppins';
                font-weight: bold;
            }

            .vm-items-selected {
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(270deg);
                transform-origin: left;
                width: fit-content;
                color: #FC6746;
                font-size: medium;
                font-family: 'Poppins';
                font-weight: bolder;
            }
        }

        .card-box {
            width: 99%;
            display: flex;

        }
    }

    .bottom-menu-container {
        display: flex;
        flex-direction: column;
        .bottom-menu-wrapper {
            padding: 20px 0px;
            display: flex;
            gap: 40px;
            font-weight: 500;
            font-size: 20px;
            color: #646577;

            .menu-items {
                color: #646577;
                font-size: medium;
            }

            .menu-item-selected {
                font-weight: 500;
                color: #FC6746;
            }
        }
        .bottom-menu-scroll{
            width: 80%;
            height: 150px;
            display: flex;
            flex-direction: row;
            // background-color: #fff;
        }
    }
}