.left-menu-container {
    contain: content;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: -140px;
    height: 95vh;
    width: 230px;
    border-radius: 20px;
    background-color: rgba(22, 25, 42);
    box-shadow: rgb(20, 22, 39, 0.904) 0px 5px 15px;
   

    .left-menu-bg {
        position: absolute;
        box-shadow: rgb(255, 254, 254) 0px 4px 12px;

        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: 108px;
            left: 158px;
            background-color: #51e3be;
        }

        .circle-1 {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: 204px;
            left: 158px;
            background-color: #E46041;
        }

        .circle-2 {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: 587px;
            left: -49px;
            background-color: #E46041;
        }

        .circle-3 {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            top: 451px;
            left: -80px;
            background-color: #51c5a8;
        }
    }

    .left-menu-items-container {
        backdrop-filter: blur(50px);
        width: 100%;
        height: 200vh;
        display: flex;
        align-items: flex-start;
        position: absolute;
        flex-direction: column;
        padding-top: 140px;
        padding-left: 10px;
        gap: 25px;
        z-index: 9;

        .left-menu-items {
            // width: 80%;
            // height:35px;
            padding: 8px 10px;
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 10px;
            // position: absolute;
            top: 50px;
            font-size: 13px;
            color: rgb(164, 164, 199);
            font-family: sans-serif;

        }

        .left-menu-items-selected {
            font-weight: bold;
            background-color: rgb(250, 103, 75);
            padding: 10px 10px;
            display: flex;
            align-items: center;
            gap: 15px;
            border-radius: 10px;
            width: 185px;
            top: 50px;
            font-size: 13px;
            color: #ffffff;
            font-family: sans-serif;
            
        }
    }
}