.home-layout {
    display: grid;
    grid-template-areas:
        'leftbar topbar topbar topbar topbar topbar topbar'
        'leftbar children children children children children children'
        'leftbar children children children children children children'
        'leftbar children children children children children children'
        'leftbar children children children children children children'
        'leftbar children children children children children children'
        'leftbar children children children children children children'
    ;

    .top-bar-grid {
        grid-area: topbar;
        margin-left: 20px;
    }
    
    .left-menu-grid {
        grid-area: leftbar;
    }
    
    .children {
        margin-left: 30px;
        grid-area: children;
        background-color: rgb(20,21,39);
    }
}