.home-layout {
    display: flex;
    flex-direction: row;

    .left-flex {
        display: block;
        z-index: 100;
        position: fixed;
    }

    .right-flex {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;

        .top-bar {
            width: 100%;
            height: 25%;
            padding-left: 242px;
        }
        .children-container{
            padding-left: 280px;
            height: 100%;
            width: 100%;
            margin-top: 130px;
        }
    }
}