.home-layout {
    display: flex;
    flex-direction: row;

    .left-flex {
        display: block;
    }

    .right-flex {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;

        .top-bar {
            width: 100%;
            height: 25%;
        }
        .children-container{
            padding-left: 20px;
        }
    }
}